<header>

    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <a href="/authors">
                <li>Authors</li>
            </a>
            <a href="/authors/new">
                <li>Add Authors</li>
            </a>
        </ul>
    </nav>
</header>